@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Roboto:wght@300&display=swap');

body{
      background: white;
      margin: 5em;
      font-family: 'Roboto';
}

.navbar{
    background: white;
    
}